////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variaveis BOTOES 
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$hero-btn-dest-border: #fff;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Banner-feature
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE; 
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png';



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables Top-Nav
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $navigation-padding: 1em;
  $navigation-background: $dark-gray;
  $navigation-color: transparentize(white, 0.3);
  $navigation-color-hover: white;
  $navigation-height: 60px;
  $navigation-nav-button-background: $action-color;
  $navigation-nav-button-background-hover: lighten($navigation-background, 10%);
  $navigation-nav-button-border: 1px solid lighten($navigation-nav-button-background, 20%);
  $navigation-search-background: lighten($navigation-background, 5);
  $navigation-search-border: 1px solid darken($navigation-background, 5);
  $navigation-active-link-color: transparentize(white, 0.5);
  $navigation-submenu-padding: 1em;
  $navigation-submenu-width: 12em;
  $horizontal-bar-mode: $large-screen;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables Search
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $search-bar-border-color: $base-border-color;
  $search-bar-border: 1px solid $search-bar-border-color;
  $search-bar-background: lighten($search-bar-border-color, 10%);


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables Cart-feature
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $card-border-color: $base-border-color;
  $card-border: 1px solid $card-border-color;
  $card-background: lighten($card-border-color, 10%);
  $card-header-background: $card-background;
  $card-margin: 1em;
  $card-image-hover-opacity: 0.7;
  $card-image-hover-color: #A9A9A9;



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables Paralax
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;
$parallax-film-color: #696969;



////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables footer
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $footer-background: desaturate(darken($action-color, 20%), 30%);
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables scroll
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables FADE-IN
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////         Variables MODAL
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  $base-border-color: #dcdcdc !default;
  $base-modal-font-color: #000;
  $base-border-radius: 3px !default;
  $base-background-color: #fff !default;
  $base-font-size: 1em !default;
  $base-line-height: 1.5em !default;
  $action-color: #477dca !default;
  $dark-gray: #333 !default;
  $light-gray: #ddd !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $modal-padding: 0.5em;
  $modal-background: $base-background-color;
  $modal-close-color: $light-gray;
  $modal-image-height: 315px;
  $modal-image-width: $modal-image-height;
  $modal-trigger-image-width: 560px;